html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  font-size: 1.6rem;
  background-size: cover;
  background-position: center center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  animation: fadeIn 2s forwards 2s;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* clock */
.clock {
  position: relative;
  top: 15rem;
  font-size: 25rem;
  font-weight: bold;
  text-align: center;
  animation: moveTop 0.5s forwards 2s;
  z-index: 1;
}

@keyframes moveTop {
  to {
    top: 0;
    font-size: 12rem;
  }
}

/* userInfo */
.user-info {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  font-size: 5rem;
}

.user-info .hidden {
  display: none;
}

.user-form .user-input {
  border: none;
  border-bottom: 3px solid rgba(255, 255, 255, 0.8);
  color: white;
  font-size: 36px;
  background-color: transparent;
}

.user-form .user-input::placeholder {
  color: white;
  opacity: 0.7;
}

.user-form .user-input:focus,
.user-form .user-input:active {
  outline: none;
}
.user-info .user {
  /* animation: fadeIn 2s ease-in-out forwards; */
}
.user-info .user-edit {
  margin-left: 1rem;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background-color: black;
  cursor: pointer;
  align-self: flex-end;
}

/* search */
.search {
  position: relative;
  margin: 2rem 0;
  width: 60rem;
  height: 4rem;
  border-radius: 2.4rem;
  background-color: transparent;
}

.search .search-input {
  position: absolute;
  padding-left: 4rem;
  width: 100%;
  height: 4rem;
  border: none;
  border-radius: 2.4rem;
  outline: none;
  font-size: 2rem;
  transition: box-shadow 0.3s;
  animation: fadeIn 4s ease-in-out forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.search .search-input:hover {
  box-shadow: 0 0 1rem rgba(189, 232, 240, 0.979);
}

.search .search-icon {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  font-size: 1.6rem;
  transform: translateY(-50%);
  /* line-height: 4rem; */
}

/* todo */
.todo {
  margin-top: 5rem;
}

.todo .todo-input {
  /* appearance: none; */
  border: none;
  border-bottom: 3px solid rgba(255, 255, 255, 0.8);
  outline: none;
  color: white;
  font-size: 26px;
  background-color: transparent;
}

.todo .todo-input::placeholder {
  color: white;
  opacity: 0.7;
}

.todo .todo-list {
  list-style-type: none;
}

.todo-list .todo-item {
  margin-top: 1rem;
}

.todo-item .todo-text {
  margin-left: 1rem;
  font-size: 2rem;
}

.todo-item .todo-remove:hover {
  cursor: pointer;
}

.weather {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 1rem;
}

.weather .temperature {
  font-size: 4rem;
}

.temperature .sub-temperature {
  position: relative;
  top: -1rem;
  left: 2rem;
  font-size: 1rem;
}

.weather .weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-info .weather-location {
  position: relative;
  top: -3rem;
}

/* quote */
.quote {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-style: italic;
  font-size: 1.4rem;
  opacity: 0.7;
  transition: opacity 0.3s ease-in;
}

.quote:hover {
  opacity: 1;
}

.quote-author::before {
  margin-left: 1rem;
  content: "-";
}
